@model Aleris.Models.CompanyMember

@{
    ViewData["Title"] = "Редактирай член - " + Model.Name;
}

<h1>Редактирай член: @Model.Name</h1>

<form asp-action="EditMember" method="post">
    <div class="form-group">
        <label for="Name">Име</label>
        <input type="text" class="form-control" id="Name" name="Name" value="@Model.Name" required />
    </div>

    <div class="form-group">
        <label for="Role">Роля</label>
        @Html.DropDownListFor(m => m.Role, new SelectList(ViewBag.Roles as List<string>), new { @class = "form-control", required = "required" })
    </div>

    <div class="form-group">
        <label for="Email">Имейл</label>
        <input type="email" class="form-control" id="Email" name="Email" value="@Model.Email" readonly />
    </div>

    <div class="form-group" style="margin-top:10px;">
        <button type="submit" class="btn btn-primary" style="margin-right: 10px;">Запази промените</button>
        <a href="@Url.Action("Members", "Company", new { id = Model.CompanyId })" class="btn btn-secondary">Cancel</a>
    </div>
</form>